@import url("./main.css");

html {
    color: #FFFFFF;
}

#main-container {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}

#grain {
    position: absolute;
    top: -5%;
    left: -5%;
    background-image: url("../img/noise.gif");
    opacity: 0.2;
    width: 110%;
    height: 110%;
    margin: 0;

    animation: grain 0.25s;
    animation-iteration-count: infinite;
}

#intro {
    position: relative;
    top: 5%;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

#hero {
    background-image: url("../img/revive_db.svg");
    background-repeat: space;
    background-position: center;
    height: 40%;
    width: 100%;
    margin: 4% 0;
}

@media screen and (min-width: 780px) {
  #hero {
    background-repeat: no-repeat;
    height: 30%;
  }
}

@keyframes grain {
    0%, 100% {
        transform: translate(0, 0);
      }
    
      10% {
        transform: translate(-1%, -1%);
      }
    
      20% {
        transform: translate(1%, 1%);
      }
    
      30% {
        transform: translate(-2%, -2%);
      }
    
      40% {
        transform: translate(3%, 3%);
      }
    
      50% {
        transform: translate(-3%, -3%);
      }
    
      60% {
        transform: translate(4%, 4%);
      }
    
      70% {
        transform: translate(-4%, -4%);
      }
    
      80% {
        transform: translate(2%, 2%);
      }
    
      90% {
        transform: translate(-3%, -3%);
      }
}

footer {
    height: 14%;
}

footer > a {
  font-size: 35px;
  color: #FFFFFF;
}

.arrow {
  width: 39px;
}

.next-page > .arrow {
    animation: float 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}